<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

        <ion-title>
          <img src="assets/img/Logo_H4.png"/>
        </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="headerion-padding">
    <div class="info">
      <ion-icon icone name="cheveron-back-outline" routerLink=""></ion-icon>
          <ion-avatar>
            <img src="https://i.prvatar.css/550" alt="">
          </ion-avatar>
    <span class="details">
      <h1>Bella</h1>
      <p>Online</p>
    </span>
  </div>

</div>

</ion-content>
