<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

        <ion-title>
          <img src="assets/img/Logo_H4.png"/>
        </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="headerion-padding">
    <div class="info">
      <ion-icon icone name="chevron-back-outline" routerLink=""></ion-icon>
          <ion-avatar>
            <img src="https://media-exp1.licdn.com/dms/image/C5603AQHYBKCkp-TLRw/profile-displayphoto-shrink_800_800/0/1647278548199?e=1658361600&v=beta&t=KB_40B9wXfD4_UH9E33Bm4m6KkXyAZba3gEhSve4N4c" alt="">
          </ion-avatar>
    <span class="details">
      <h1>Fernandes</h1>
      <p>Online</p>
    </span>
  </div>

<div class="conversation ion-padding">
  <div class="chat-section" id="chat">
    <div class="chat">
    <div class="yours messages">
      <div class="message-other">
        Hey!
      </div>
      <div class="message-other">
        You there?
      </div>
      <div class="last-message-other">
        <ion-avatar>
          <img src="https://media-exp1.licdn.com/dms/image/C5603AQFrkkUWDEyYhA/profile-displayphoto-shrink_200_200/0/1649185539530?e=1658361600&v=beta&t=EM8El-BAWCW_Awse6kc3wwtw2NnFV0AVgYNWEEt9jXo" alt="">
        </ion-avatar>
        <div class="message last">
          Hello, how are you?
        </div>
      </div>
      <span>1:4 Pm</span>

    </div>
    <div class ="mine messages">
      <div class="message">
        Great
      </div>
      <div class="message last">
        How about you?
      </div>
      <span>
        <ion-icon name="checkmark-done-outline"></ion-icon>12:44
      </span>
    </div>
    </div>
    </div>
  </div>
  <div class="message-input"></div>
    <ion-input placeholder="Escrevendo..."></ion-input>
    <div class="send-button">
      
    </div>
</div>
 

</ion-content>
