
ion-content{
  ion-avatar{
      width: 10% !important;
      height: 10% !important;
    }

  --background: #7c7899;
    .header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      letter-spacing: 1px;
      height: 10vh;
      ion-icon{
          font-size: 1.6rem;
          color: #fff;
        }
    } 

    .info{
        display: flex;
        align-items: center;
        ion-avatar{
            max-width: 51px;
            max-height: 51px;
            margin-left: 15px;
        }

        .details{
            margin-left: 12px;
            display: flex;
            flex-direction: column;
            h1,p{
                margin: 0s;
                color:#fff;
                margin-left: 5px;
            }
            h1{
                font-size: 1.2rem;
                font-weight: bold;
            }
            
            p{
                opacity: 0.8;
                margin-top: 3px;
                font-size: 0.8rem;
            }

       }
      
  }
}
