.ion-justify-content-start {
  justify-content: flex-start !important;
}

.hydrated{
  align-items: center;

}
ion-buttons{
  color:#b19cd9 ;
  left: auto;
  align-items: center;
 }
ion-icon{
  align-items: center;

}
