<ion-header>
  <ion-toolbar>
    <ion-title>post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-row class="ion-justify-content-start">
    <ion-card-header>

      <ion-col class="avatar">
      <ion-title>
        <ion-avatar>
        <img class="avatar" src="assets/img/Panini.jpg"/>
      </ion-avatar>
      </ion-title>
    </ion-col>
  </ion-card-header>

  <ion-col>
      <ion-card-title>Luan Panini</ion-card-title>
      <ion-card-subtitle>Desenvolvedor Back-End</ion-card-subtitle>
      <ion-card-subtitle>Santa Barbara D'Oeste</ion-card-subtitle>
    </ion-col>


  </ion-row>
  <ion-card>
<ion-row>
<ion-col>
  <ion-text>
<p>

Era uma vez uma corrida de sapinhos !

O objetivo era atingir o alto de uma grande torre.

Havia no local uma multidão assistindo.
Muita gente para vibrar e torcer por eles.

Começou a competição.
Mas como a multidão não acreditava que os sapinhos pudessem alcançar o alto daquela torre, o que mais se ouvia era:
“Que pena !!! esses sapinhos não vão conseguir… não vão conseguir…”

E os sapinhos começaram a desistir.
Mas havia um que persistia e continuava a subida em busca do topo…

A multidão continuava gritando :
“… que pena !!! voltem! vocês não vão conseguir !…”

E os sapinhos estavam mesmo desistindo, um por um…
menos aquele sapinho que continuava tranqüilo… embora cada vez mais arfante.

Já ao final da competição, todos desistiram, menos ele…
A curiosidade tomou conta de todos.
Queriam saber o que tinha acontecido…
E assim, quando foram perguntar ao sapinho como ele havia conseguido concluir a prova,
aí sim conseguiram descobrir… que ele era surdo !!!



Não permita que pessoas com o péssimo hábito de serem negativas, derrubem as melhores e mais sábias esperanças de nosso coração !
Lembre-se sempre :
Há poder em nossas palavras e em tudo o que pensamos…
Portanto, procure sempre ser POSITIVO !
Seja “surdo” quando alguém lhe diz que você não pode realizar seus sonhos…

</p>
  </ion-text>
</ion-col>
</ion-row>
</ion-card>
<ion-chip>
  <ion-icon name="paper-plane" color="primary"></ion-icon>
  <ion-label color="primary"></ion-label>
</ion-chip>
<ion-chip>
  <ion-icon name="person-add" color="primary"></ion-icon>
  <ion-label color="primary"></ion-label>
</ion-chip>

  </ion-card>
